
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StaffLayout.cshtml";
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4 user-icon">
                    <img src="../vendors/images/banner-img.png" alt="">
                </div>
                <div class="col-md-8">

                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Welcome back <div class="weight-600 font-30 text-blue">Employee , Juice</div>
                    </h4>
                    <p class="font-18 max-width-600">you are in an institution established to serve the wider Christian community in Ghana and Africa.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="card-box height-100-p pd-20 min-height-200px">
                    <div class="d-flex justify-content-between pb-10">
                        <div class="h5 mb-0">Department Heads</div>
                        <div class="table-actions">
                            <a title="VIEW" href="staff.php"><i class="icon-copy ion-disc" data-color="#17a2b8"></i></a>
                        </div>
                    </div>
                    <div class="user-list">
                        <ul>


                            <li class="d-flex align-items-center justify-content-between">
                                <div class="name-avatar d-flex align-items-center pr-2">
                                    <div class="avatar mr-2 flex-shrink-0">
                                        <img src="./uploads/NO-IMAGE-AVAILABLE.jpg'" class="border-radius-100 box-shadow" width="50" height="50" alt="">
                                    </div>
                                    <div class="txt">
                                        <span class="badge badge-pill badge-sm" data-bgcolor="#e7ebf5" data-color="#265ed7">IT Department</span>
                                        <div class="font-14 weight-600">Json, Code</div>
                                        <div class="font-12 weight-500" data-color="#b2b1b6">JsonCode@gmail.com</div>
                                    </div>
                                </div>
                                <div class="font-12 weight-500" data-color="#17a2b8">09888484848</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="card-box height-100-p pd-20 min-height-200px">
                    <div class="d-flex justify-content-between">
                        <div class="h5 mb-0">Application Setup</div>
                        <div class="table-actions">
                            <a title="VIEW" href="staff.php"><i class="icon-copy ion-disc" data-color="#17a2b8"></i></a>
                        </div>
                    </div>

                    <div id="application-chart"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="card-box height-100-p pd-20 min-height-200px">
                    <div class="d-flex justify-content-between">
                        <div class="h5 mb-0">Staff</div>
                        <div class="table-actions">
                            <a title="VIEW" href="staff.php"><i class="icon-copy ion-disc" data-color="#17a2b8"></i></a>
                        </div>
                    </div>

                    <div class="user-list">
                        <ul>


                            <li class="d-flex align-items-center justify-content-between">
                                <div class="name-avatar d-flex align-items-center pr-2">
                                    <div class="avatar mr-2 flex-shrink-0">
                                        <img src="kkk.jpg" class="border-radius-100 box-shadow" width="50" height="50" alt="">
                                    </div>
                                    <div class="txt">
                                        <span class="badge badge-pill badge-sm" data-bgcolor="#e7ebf5" data-color="#265ed7">IT Department</span>
                                        <div class="font-14 weight-600">Employee, Staff</div>
                                        <div class="font-12 weight-500" data-color="#b2b1b6">Empoloyee@gmail.com</div>
                                    </div>
                                </div>
                                <div class="font-12 weight-500" data-color="#17a2b8">0994844848</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-box mb-30">
            <div class="pd-20">
                <h2 class="text-blue h4">LEAVE HISTORY</h2>
            </div>
            <div class="pb-20">
                <table class="data-table table stripe hover nowrap">
                    <thead>
                        <tr>
                            <th class="table-plus">LEAVE TYPE</th>
                            <th>DATE FROM</th>
                            <th>DATE TO</th>
                            <th>NO. OF DAYS</th>
                            <th>HOD STATUS</th>
                            <th>REG. STATUS</th>
                            <th class="datatable-nosort">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>



                            <td>Annual Leave</td>
                            <td>2022-09-09</td>
                            <td>2022-09-19</td>
                            <td>7</td>
                            <td>
                                Approved

                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                <div class="table-actions">
                                    <a title="VIEW" href="view_leave.php?edit=2" data-color="#265ed7"><i class="icon-copy dw dw-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>